@import "tailwindcss";

@layer base {
  body {
    @apply p-1 max-w-[8.5in] mb-[50vh];
  }

  em {
    @apply tracking-wide;
  }

  a {
    @apply text-blue-600 underline;
  }

  .sectionbody,
  .sect2 h3 ~ *,
  li {
    @apply pl-1 border-l-3 border-gray-200;
  }

  h1 {
    @apply text-2xl border-b-1 border-black font-bold;
  }

  h2 {
    @apply text-xl border-b-1 border-black font-bold;
  }

  h3 {
    @apply text-lg py-2 font-bold;
  }

  h4 {
    @apply font-bold py-2;
  }

  hr {
    @apply my-5 border-2 border-gray-500;
  }

  th,
  td {
    @apply border-2 border-white p-1;
  }

  td {
    @apply bg-gray-200;

    & li {
      @apply p-1;
    }
  }

  ol,
  ul {
    @apply list-inside;
  }

  ol > li > p {
    @apply inline;
  }

  .list-dots ul {
    @apply list-disc;

    & > li > p {
      @apply inline;
    }
  }

  caption {
    @apply caption-bottom;
  }

  .samplebox td {
    @apply bg-gray-100 p-1;
  }

  .table-stack table {
    @apply w-[100%];
  }

  .sub-header {
    @apply font-bold text-center;
  }

  /* Asciidoctor hack: CSS application on refresh is inconsistent.
   If you see a blink: undo, save, redo, save. */
  .upperalpha {
    @apply list-[upper-alpha];
  }

  .chapter-1 {
    &.table-stack > tbody > tr:nth-child(odd) th,
    & .table-header {
      @apply bg-blue-950 text-white text-2xl py-1;
    }
  
    &.table-stack table thead th,
    & .sub-header {
      @apply bg-cyan-900 text-white py-1;
    }
  
    &.table-stack table tbody th {
      @apply bg-gray-300 py-1;
    }
  
    & thead tr:first-child th {
      @apply bg-blue-950 text-white;
    }
  }

  .chapter-2 {
    &.table-stack > tbody > tr:nth-child(odd) th {
      @apply bg-orange-500 text-white text-2xl py-1;
    }
  
    &.table-stack table thead th,
    & .sub-header {
      @apply bg-cyan-900 text-white py-1;
    }
  
    &.table-stack table tbody th {
      @apply bg-gray-300 py-1;
    }
  
    & thead tr:first-child th {
      @apply bg-orange-500 text-white;
    }
  
    & thead tr:nth-of-type(2) th {
      @apply bg-gray-700 text-white;
    }
  }

  /* Chapter 3 */

  .chapter-3 {
    &.table-stack > tbody > tr:nth-child(odd) th {
      @apply bg-lime-300 text-black text-2xl py-1;
    }
  
    &.table-stack table thead th,
    & .sub-header {
      @apply bg-cyan-900 text-white py-1;
    }
  
    &.table-stack table tbody th {
      @apply bg-gray-300 py-1;
    }
  
    & thead tr:first-child th {
      @apply bg-lime-300 text-black;
    }
  
    & thead tr:nth-of-type(2) th {
      @apply bg-gray-700 text-white;
    }
  }

  .chapter-4 {
    &.table-stack > tbody > tr:nth-child(odd) th {
      @apply bg-yellow-500 text-black text-2xl py-1;
    }
  
    &.table-stack table thead th,
    & .sub-header {
      @apply bg-cyan-900 text-white py-1;
    }
  
    &.table-stack table tbody th {
      @apply bg-gray-300 py-1;
    }
  
    & thead tr:first-child th {
      @apply bg-yellow-500 text-black;
    }
  
    & thead tr:nth-of-type(2) th {
      @apply bg-gray-700 text-white;
    }
  }

  .chapter-5 {
    &.table-stack > tbody > tr:nth-child(odd) th {
      @apply bg-orange-800 text-white text-2xl py-1;
    }
  
    &.table-stack table thead th,
    & .sub-header {
      @apply bg-cyan-900 text-white py-1;
    }
  
    &.table-stack table tbody th {
      @apply bg-gray-300 py-1;
    }
  
    & thead tr:first-child th {
      @apply bg-gray-600 text-white;
    }
  
    & thead tr:nth-of-type(2) th {
      @apply bg-gray-700 text-white;
    }
  }

  .verb-table {
    @apply my-4;

    & .primary-header {
      @apply bg-orange-800 text-white text-2xl p-1 text-left;
    }

    & .secondary-header-row th {
      @apply text-left p-1 bg-cyan-900 text-white py-1;
    }

    & .tense-row th {
      @apply bg-stone-300 text-black px-1;
    }
  }

  .sidebarblock .title {
    @apply font-bold;
  }

  .chapter-6 {
    /* There are no table stacks in chapter 6 */

    & thead tr:first-child th {
      @apply bg-sky-600 text-white;
    }

    & thead tr:nth-of-type(2) th {
      @apply bg-gray-700 text-white;
    }
  }

  .compass-basic-table td {
    @apply bg-white;
  }

  .compass-block > div {
    @apply flex flex-row mx-[15%];
  }

  .chapter-7 {
    & thead tr:first-child th {
      @apply bg-pink-600 text-white;
    }

    & thead tr:nth-of-type(2) th {
      @apply bg-gray-700 text-white;
    }

    & thead tr:nth-of-type(3) th {
      @apply bg-stone-200 text-black;
    }
  }

  .chapter-8 {
    & thead tr:first-child th {
      @apply bg-gray-600 text-white;
    }

    & thead tr:nth-of-type(2) th {
      @apply bg-stone-200 text-black;
    }
  }

  .chapter-9 {
    & thead tr:first-child th {
      @apply bg-fuchsia-900 text-white;
    }

    & thead tr:nth-of-type(2) th {
      @apply bg-stone-200 text-black;
    }
  }

  .chapter-10 {
    & thead tr:first-child th {
      @apply bg-amber-400 text-black;
    }

    & thead tr:nth-of-type(2) th {
      @apply bg-stone-200 text-black;
    }
  }

  .chapter-11 {
    & thead tr:first-child th {
      @apply bg-blue-950 text-white;
    }

    & thead tr:nth-of-type(2) th {
      @apply bg-gray-500 text-white;
    }
  }
}
