@import "tailwindcss";

@layer base {
  body {
    @apply p-1 max-w-[8.5in] mb-[50vh];
  }

  a {
    @apply text-blue-500 hover:underline;
  }

  p {
    @apply my-2 leading-relaxed;
  }

  em {
    @apply font-serif tracking-wide;
  }

  .sectionbody,
  .sect2 h3 ~ * {
    @apply pl-1 border-l-3 border-gray-200;
  }

  h1 {
    @apply text-2xl border-b-1 border-black font-bold;
  }

  h2 {
    @apply text-xl border-b-1 border-black font-bold;
  }

  h3 {
    @apply text-lg py-2 font-bold border-b-1 border-gray-400;
  }

  h4 {
    @apply font-bold py-2 border-b-1 border-gray-200;
  }

  hr {
    @apply my-5 border-2 border-gray-500;
  }

  .top-level-table {
    & > tbody > tr > td {
      @apply p-0;
    }
  }

  table {
    @apply my-2;

    & caption {
      @apply caption-bottom;
    }

    & tr.black-bottom-divider {
      & td {
        @apply border-b-2 border-b-black;
      }
    }

    & tbody th,
    & tbody td {
      @apply align-top px-2 py-2;
    }

    & thead th {
      @apply text-center px-2 font-bold;
    }

    & tbody th {
      @apply text-left font-bold;
    }

    & th,
    & td {
      @apply p-1 outline-2 outline-white;
    }

    & td {
      @apply bg-[#f6f1ea];

      & li {
        @apply pb-1 mx-0 px-0;
      }
    }
  }

  ol,
  ul {
    & > li {
      @apply list-outside ml-6 pb-1 pl-1;

      & > p {
        @apply inline;
      }
    }
  }

  .list-dots ul {
    @apply list-disc;

    & > li > p {
      @apply inline;
    }
  }

  .samplebox {
    @apply my-1;

    & td {
      @apply bg-stone-100 border-1 border-[rgba(0,0,0,0.1)] p-1;

      & p {
        @apply mx-2 my-0;
      }
    }
  }

  /* Asciidoctor hack: CSS application on refresh is inconsistent.
   If you see a blink: undo, save, redo, save. */
  .upperalpha {
    @apply list-[upper-alpha];
  }

  .grammar-notes-chapter {
    & thead tr:first-child th {
      @apply bg-gray-800 text-white;
    }
  }

  .chapter-1 {
    & thead tr:first-child th {
      @apply bg-blue-950 text-white;
    }

    & thead tr:nth-of-type(2) th {
      @apply bg-slate-500 text-white;
    }
  }

  .chapter-2 {
    & thead tr:first-child th {
      @apply bg-orange-600 text-white;
    }

    & thead tr:nth-of-type(2) th {
      @apply bg-slate-500 text-white;
    }
  }

  .chapter-3 {
    & thead tr:first-child th {
      @apply bg-lime-300 text-black;
    }

    & thead tr:nth-of-type(2) th {
      @apply bg-gray-700 text-white;
    }

    & tbody th {
      @apply bg-stone-300 text-black;
    }
  }

  .chapter-3-alt {
    & thead tr:first-child th {
      @apply bg-gray-700 text-white;
    }
  }

  .chapter-4 {
    & thead tr:first-child th {
      @apply bg-yellow-300 text-black;
    }

    & thead tr:nth-of-type(2) th {
      @apply bg-gray-700 text-white;
    }

    & tbody th {
      @apply bg-stone-300 text-black;
    }
  }

  .chapter-5 {
    & thead tr:first-child th {
      @apply bg-gray-600 text-white;
    }

    & thead tr:nth-of-type(2) th {
      @apply bg-gray-700 text-white;
    }

    & tbody th {
      @apply bg-stone-300 text-black;
    }
  }

  .verb-table {
    @apply my-4;

    & > tbody > tr > td {
      @apply p-0;

      & table {
        @apply w-full;
      }
    }

    & .primary-header {
      @apply bg-orange-800 text-white text-2xl p-1 text-left;
    }

    & .secondary-header-row th {
      @apply text-left p-1 bg-cyan-900 text-white py-1;
    }

    & .tense-row th {
      @apply bg-stone-300 text-black px-1;
    }
  }

  .sidebarblock .title {
    @apply font-bold;
  }

  .chapter-6 {
    & thead tr:first-child th {
      @apply bg-sky-600 text-white;
    }

    & thead tr:nth-of-type(2) th {
      @apply bg-gray-700 text-white;
    }
  }

  .compass-basic-table td {
    @apply bg-white;
  }

  .compass-block > div {
    @apply flex flex-row mx-[15%];
  }

  .chapter-7 {
    & thead tr:first-child th {
      @apply bg-pink-600 text-white;
    }

    & thead tr:nth-of-type(2) th {
      @apply bg-gray-700 text-white;
    }

    & thead tr:nth-of-type(3) th {
      @apply bg-stone-200 text-black;
    }

    & tbody th {
      @apply bg-stone-300 text-black;
    }
  }

  .chapter-8 {
    & thead tr:first-child th {
      @apply bg-gray-600 text-white;
    }

    & thead tr:nth-of-type(2) th {
      @apply bg-stone-200 text-black;
    }
  }

  .chapter-9 {
    & thead tr:first-child th {
      @apply bg-fuchsia-900 text-white text-xl;
    }

    & thead tr:nth-of-type(2) th {
      @apply bg-stone-200 text-black;
    }

    & tbody th {
      @apply bg-stone-300 text-black;
    }

    & tbody td,
    & tbody th {
      @apply py-0;
    }

    & p {
      @apply my-1;
    }
  }

  .chapter-10 {
    & thead tr:first-child th {
      @apply bg-amber-400 text-black;
    }

    & thead tr:nth-of-type(2) th {
      @apply bg-stone-200 text-black;
    }

    & tbody th {
      @apply bg-stone-300 text-black;
    }
  }

  .chapter-11 {
    & thead tr:first-child th {
      @apply bg-blue-950 text-white;
    }

    & thead tr:nth-of-type(2) th {
      @apply bg-gray-500 text-white;
    }

    & tbody th {
      @apply bg-stone-300 text-black;
    }
  }

  .options-table {
    & thead tr:first-child th {
      @apply bg-gray-800 text-white;
    }
  }
}
